body {
    margin-top: 10%;
}

#AllPage{
    justify-content: center;
    text-align: center;
    font-size: x-large;   
    color: blueviolet;
}
#inputDiv{
    border: 2px solid blueviolet;
     margin-top: 3%;
}
/*for tablet afreen*/
@media only screen and (max-width: 900px) {
    body {
        margin-top: 20%;
    }
}